<nav class="navbar navbar-expand-lg navbar-light my-nav">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active m-link" aria-current="page" href="{% url 'product-list' %}">Все товары</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3 active m-link" aria-current="page" href="{% url 'product-add' %}">Добавить</a>
        </li>
      <li>
          <form class="d-flex ml-5" action="" method="get">
              {% if search_form %}
                  {{ search_form.search }}
                  <input class="btn btn-secondary btn-sm" type="submit" value="Поиск">
              {% endif %}
          </form>
      </li>
      </ul>
    {% if qty %}
        <a class="btn btn-warning ml-auto mr-2" href="{% url 'cart-products-list' %}">
            <i class="fas fa-shopping-cart">  Товаров в корзине: {{ qty }}</i>
        </a>
    {%  endif %}
    </div>
  </div>
</nav>