 <div class="modal" id=modal tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Удаление товара</h5>
            <button type="button"  data-bs-dismiss="modal" aria-label="Close">X</button>
          </div>
          <div class="modal-body cb">
            <p><i>Вы уверены,что хотите удалить:</i></p>
              <p>{{ product.product }}</p>
          </div>
          <div class="modal-footer">
          <form action="{% url 'shop:product-delete' product.id %}" method="post">
              {% csrf_token %}
              <div class="d-flex flex-row justify-content-end">
                  <div><a class="btn btn-success mr-3" href="{% url 'shop:product-detail' product.id %}">Нет, отменить</a></div>
                  <div><input type="submit" class="btn btn-danger" value="Да, удалить!"></div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
