{% extends 'base.html' %}

{% block content %}
    {% include 'partial/nav_bar.html' %}
    <div class="card">
      <div class="card-body">
        <table class="table">
            <tr>
                <td>Категория:</td>
                <td>{{ product.category }}</td>
            </tr>
            <tr>
                <td>Наименование:</td>
                <td>{{ product.product | wordwrap:8 }}</td>
            </tr>
            <tr>
                <td>Описание: </td>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <td>Цена:</td>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <td>В наличии:</td>
                <td>{{ product.balance }}</td>
            </tr>
        </table>
          <div class="text-right">
              <form action="{% url 'shop:add-to-cart' product.id %}" method="GET">
                  <input type="number" name="qty" value="1">
                  <button class="btn btn-warning btn-sm text-dark" name="prev" value="{{ request.get_full_path }}" type="submit"><i class="fas fa-cart-plus">  в корзину</i></button>
              </form>
{#                <a class="btn btn-warning btn-sm text-dark" href="{% url 'shop:add-to-cart' product.id %}?prev={{ request.path }}"><i class="fas fa-cart-plus">  в корзину</i></a>#}
          </div>
      </div>
        <div class="card-footer d-flex flex-row justify-content-end">
            <div>
                {% if perms.shop.change_product %}
                <a class="btn btn-secondary mr-3" href="{% url 'shop:product-update' product.id %}">Изменить</a>
                {% endif %}
            </div>
            <div>
                {% if perms.shop.delete_product %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal">Удалить</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'products/delete.html' %}
{% endblock %}